@import "tailwindcss";

body {
  background-color: #e6e6ff;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.text-justify img,
.text-justify iframe,
.text-justify video {
  max-width: 100%;
  height: auto;
}

.animatedButton {
  animation-duration: 10000ms;
}

.ql-container {
  border: none !important;
}

.ql-toolbar {
  border: none !important;
}

.ql-editor {
  border: none !important;
  font-size: 1.125rem !important; /* text-lg */
}
