@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

body {
  @apply bg-[#e6e6ff] text-black dark:bg-[#0f172a] dark:text-gray-200 transition-colors duration-300;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.text-justify img,
.text-justify iframe,
.text-justify video {
  max-width: 100%;
  height: auto;
}

.animatedButton {
  animation-duration: 10000ms;
}

.ql-container {
  border: none !important;
}

.ql-toolbar {
  border: none !important;
}

.ql-editor {
  border: none !important;
  font-size: 1.125rem !important; /* text-lg */
}

/* Dark mode for React Quill */
.dark .ql-toolbar {
  background-color: #1f2937 !important; /* gray-800 */
}

.dark .ql-stroke {
  stroke: #e5e7eb !important; /* gray-200 */
}

.dark .ql-fill {
  fill: #e5e7eb !important; /* gray-200 */
}

.dark .ql-picker {
  color: #e5e7eb !important;
}

.dark .ql-picker-options {
  background-color: #1f2937 !important;
}
